<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/comman.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index2.css">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="/images/index1/favicon.png">

    <title>شاپ مارشو - قالب فروشگاهی ریسپانسیو HTML</title>
</head>
<body>
    <!-- main-wrapper start -->
    <div class="main-wrapper">
        <!-- Preloader Box -->
        <div class="preloader-wrapper preloader-active preloader-open">
            <div class="preloader-holder">
                <div class="preloader d-flex justify-content-center align-items-center h-100">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- Search Box -->
        <div class="search-main-wrap">
            <div class="search-inner">
                <a href="javascript:void(0);" class="c-search-close">
                    <svg viewBox="0 0 413.348 413.348" xmlns="http://www.w3.org/2000/svg"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" /></svg>
                </a>
                <div class="search-box">
                    <form>
                        <input type="text" placeholder="جستجو کنید ..." />
                        <button type="submit">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px"><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M16.337,15.218 C15.846,14.710 15.347,14.210 14.848,13.711 L12.326,11.190 C14.647,7.813 13.433,3.788 10.926,1.947 C8.249,-0.020 4.631,0.233 2.322,2.546 C0.010,4.862 -0.267,8.510 1.664,11.217 C2.621,12.558 4.223,13.526 5.949,13.805 C7.163,14.001 8.993,13.951 10.900,12.633 L10.981,12.724 C11.161,12.925 11.344,13.131 11.537,13.326 C12.605,14.410 13.674,15.490 14.755,16.559 C14.969,16.769 15.226,16.921 15.462,16.974 C15.534,16.991 15.604,16.999 15.674,16.999 C16.017,16.999 16.324,16.804 16.522,16.452 C16.757,16.034 16.690,15.583 16.337,15.218 ZM10.177,4.051 C11.029,4.910 11.496,6.055 11.495,7.273 C11.493,8.489 11.019,9.630 10.162,10.488 C9.308,11.344 8.173,11.815 6.967,11.815 C6.964,11.815 6.961,11.815 6.958,11.815 C5.751,11.813 4.610,11.331 3.748,10.457 C2.891,9.590 2.425,8.452 2.436,7.255 C2.457,4.709 4.449,2.717 6.972,2.717 C6.974,2.717 6.977,2.717 6.979,2.717 C8.189,2.718 9.325,3.192 10.177,4.051 Z" /></svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Header Start -->
        <div class="header-main-wrapper header-wrap-fur header-style2">
            <div class="header-sticky-wrapper">
                <div class="hs-left">
                    <div class="hs-left-logo">
                        <a href="index.html"><img src="/images/index2/logo.png" alt="logo" class="img-fluid"></a>
                    </div>
                </div>
                <div class="e-hs-mainright">
                    <div class="hs-medium custom-scroll">
                        <div class="nav-items main-menu-wraper">
                            <ul class="menu-list d-xl-flex">
                                <li>
                                    <a href="index.html" class="hs-mobile-logo"> <img src="/images/index2/logo.png" alt="logo" class="img-fluid"></a>
                                    <p class="menu-btn c-toggle-btn sidebar-toggle">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </p>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">مجموعه های جدید </a>
                                    <div class="drop-menu mega-menu">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:void(0);">شوفا </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">صندلی ها </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">تختخواب </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">ناهارخوری </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">  هال </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="mega-menu-info d-lg-flex">
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="24px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M32.929,20.763 L29.818,20.763 C29.329,22.624 27.659,23.999 25.678,23.999 C23.698,23.999 22.028,22.624 21.539,20.763 L15.176,20.763 C14.686,22.624 13.016,23.999 11.036,23.999 C9.055,23.999 7.385,22.624 6.896,20.763 L4.107,20.763 C3.515,20.763 3.036,20.274 3.036,19.672 C3.036,19.069 3.515,18.581 4.107,18.581 L6.877,18.581 C7.342,16.683 9.029,15.272 11.036,15.272 C13.042,15.272 14.730,16.683 15.194,18.581 L21.520,18.581 C21.985,16.683 23.672,15.272 25.678,15.272 C27.685,15.272 29.373,16.683 29.837,18.581 L31.857,18.581 L31.857,12.955 L30.297,10.908 L21.964,10.908 C21.372,10.908 20.893,10.420 20.893,9.817 L20.893,2.181 L4.107,2.181 C3.515,2.181 3.036,1.693 3.036,1.090 C3.036,0.488 3.515,-0.001 4.107,-0.001 L21.964,-0.001 C22.556,-0.001 23.036,0.488 23.036,1.090 L23.036,2.181 L27.607,2.181 C28.012,2.181 28.382,2.413 28.565,2.782 L31.779,9.291 L31.777,9.292 L33.775,11.912 C33.921,12.103 34.000,12.339 34.000,12.581 L34.000,19.672 C34.000,20.274 33.520,20.763 32.929,20.763 ZM11.036,17.454 C9.854,17.454 8.893,18.432 8.893,19.636 C8.893,20.839 9.854,21.817 11.036,21.817 C12.217,21.817 13.179,20.839 13.179,19.636 C13.179,18.432 12.217,17.454 11.036,17.454 ZM25.678,17.454 C24.497,17.454 23.536,18.432 23.536,19.636 C23.536,20.839 24.497,21.817 25.678,21.817 C26.860,21.817 27.821,20.839 27.821,19.636 C27.821,18.432 26.860,17.454 25.678,17.454 ZM26.946,4.363 L23.036,4.363 L23.036,8.727 L29.101,8.727 L26.946,4.363 ZM13.036,5.563 C13.036,6.166 12.556,6.654 11.964,6.654 L2.821,6.654 C2.230,6.654 1.750,6.166 1.750,5.563 C1.750,4.960 2.230,4.472 2.821,4.472 L11.964,4.472 C12.556,4.472 13.036,4.960 13.036,5.563 ZM11.286,9.854 C11.286,10.456 10.806,10.944 10.214,10.944 L1.071,10.944 C0.480,10.944 -0.000,10.456 -0.000,9.854 C-0.000,9.252 0.480,8.763 1.071,8.763 L10.214,8.763 C10.806,8.763 11.286,9.252 11.286,9.854 ZM2.821,13.054 L7.750,13.054 C8.342,13.054 8.821,13.542 8.821,14.145 C8.821,14.748 8.342,15.236 7.750,15.236 L2.821,15.236 C2.230,15.236 1.750,14.748 1.750,14.145 C1.750,13.542 2.230,13.054 2.821,13.054 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">حمل و نقل رایگان</h5>
                                                    <p>سفارشات بالای 200 هزارت تومان حمل و نقل رایگان دارند</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="27px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M21.856,21.026 C21.816,23.307 20.022,25.196 17.857,25.236 C16.628,25.257 15.411,25.248 14.061,25.235 C13.807,25.230 13.680,25.306 13.553,25.554 C13.096,26.447 12.273,26.963 11.388,26.963 C11.173,26.963 10.954,26.933 10.735,26.870 C9.605,26.543 8.839,25.502 8.831,24.278 C8.825,23.070 9.612,21.966 10.706,21.652 C11.820,21.335 12.908,21.825 13.551,22.928 C13.646,23.092 13.861,23.251 13.992,23.255 C15.134,23.284 16.374,23.289 17.779,23.265 C18.747,23.251 19.517,22.669 19.784,21.769 L19.781,21.769 C19.691,21.777 19.613,21.785 19.536,21.790 C18.831,21.826 18.186,21.602 17.695,21.149 C17.164,20.661 16.860,19.950 16.839,19.149 C16.809,18.022 16.809,16.840 16.839,15.637 C16.873,14.166 17.864,13.074 19.246,12.980 C19.724,12.948 20.237,12.943 20.861,12.966 C21.523,12.988 21.860,13.359 21.862,14.067 L21.869,15.613 C21.879,17.387 21.888,19.222 21.856,21.026 ZM11.376,23.526 C11.375,23.526 11.375,23.526 11.374,23.526 C11.023,23.527 10.718,23.856 10.708,24.245 C10.703,24.453 10.782,24.653 10.924,24.796 C11.046,24.918 11.205,24.984 11.370,24.984 C11.376,24.984 11.383,24.984 11.390,24.984 C11.752,24.972 12.041,24.642 12.034,24.248 C12.028,23.856 11.727,23.526 11.376,23.526 ZM20.016,16.054 C20.015,15.681 20.013,15.304 20.013,14.922 C19.951,14.925 19.870,14.921 19.801,14.919 C19.744,14.918 19.690,14.916 19.638,14.916 C19.498,14.916 19.375,14.927 19.279,14.975 C19.025,15.106 18.737,15.369 18.728,15.539 C18.666,16.645 18.659,17.823 18.706,19.139 C18.713,19.326 18.779,19.482 18.899,19.593 C19.021,19.705 19.199,19.767 19.390,19.755 C19.762,19.739 19.997,19.492 20.003,19.112 C20.023,18.104 20.020,17.108 20.016,16.054 ZM20.972,11.555 C20.921,11.563 20.862,11.569 20.800,11.569 C20.468,11.569 20.029,11.398 19.873,10.558 C19.176,6.804 16.520,3.827 13.263,3.149 C9.478,2.362 6.049,3.889 4.100,7.234 C3.736,7.858 3.500,8.592 3.272,9.299 C3.144,9.693 3.014,10.100 2.861,10.488 C2.729,10.822 2.542,11.225 2.258,11.382 C1.972,11.541 1.669,11.528 1.424,11.356 C1.119,11.140 0.968,10.710 1.040,10.258 C1.434,7.786 2.524,5.650 4.281,3.907 C6.206,1.997 8.723,0.945 11.369,0.945 C11.372,0.945 11.374,0.945 11.376,0.945 C16.478,0.949 20.813,4.851 21.683,10.222 C21.803,10.961 21.538,11.460 20.972,11.555 ZM1.928,12.968 C2.456,12.957 3.004,12.944 3.541,12.982 C4.865,13.078 5.855,14.166 5.896,15.571 C5.931,16.769 5.929,17.988 5.891,19.197 C5.845,20.689 4.773,21.798 3.388,21.798 C3.368,21.798 3.349,21.798 3.329,21.798 C1.960,21.766 0.905,20.619 0.876,19.130 C0.866,18.561 0.868,17.991 0.871,17.423 C0.871,17.149 0.872,16.875 0.872,16.600 L0.871,15.983 C0.870,15.364 0.869,14.747 0.873,14.128 C0.880,13.343 1.205,12.986 1.928,12.968 ZM2.729,19.027 C2.734,19.451 3.004,19.762 3.371,19.766 L3.372,19.766 C3.375,19.766 3.378,19.766 3.380,19.766 C3.753,19.766 4.048,19.432 4.055,19.002 C4.072,17.918 4.071,16.799 4.054,15.675 C4.048,15.263 3.829,15.006 3.437,14.953 C3.271,14.931 3.103,14.935 2.905,14.941 C2.846,14.943 2.786,14.945 2.724,14.946 L2.722,16.080 C2.720,17.080 2.719,18.054 2.729,19.027 ZM7.821,5.471 C8.936,4.890 10.157,4.589 11.440,4.624 C11.454,4.624 11.468,4.624 11.483,4.624 C12.693,4.624 13.859,4.916 14.945,5.493 C15.541,5.809 15.754,6.364 15.489,6.909 C15.374,7.143 15.199,7.304 14.981,7.376 C14.894,7.405 14.802,7.419 14.707,7.419 C14.522,7.419 14.322,7.366 14.119,7.261 C12.316,6.337 10.466,6.330 8.619,7.237 C8.310,7.389 8.015,7.422 7.772,7.334 C7.555,7.255 7.383,7.083 7.273,6.837 C7.032,6.297 7.242,5.773 7.821,5.471 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">پشتیبانی آنلاین 247</h5>
                                                    <p>مشاوره و تماس رایگان با عشق 247</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="27px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M5.529,19.607 C4.965,19.607 4.505,19.140 4.505,18.564 C4.505,17.989 4.965,17.521 5.529,17.521 L9.125,17.521 C9.688,17.521 10.147,17.989 10.147,18.564 C10.147,19.140 9.688,19.607 9.125,19.607 L5.529,19.607 ZM28.003,26.963 L2.832,26.963 C1.772,26.963 0.909,26.082 0.909,25.000 L0.909,8.451 C0.909,7.369 1.772,6.488 2.832,6.488 L12.720,6.488 C13.284,6.488 13.743,6.956 13.743,7.531 C13.743,8.107 13.284,8.574 12.720,8.574 L2.955,8.574 L2.955,12.005 L12.720,12.005 C13.284,12.005 13.743,12.473 13.743,13.047 C13.743,13.623 13.284,14.091 12.720,14.091 L2.955,14.091 L2.955,24.876 L27.879,24.876 L27.879,18.564 C27.879,17.989 28.339,17.521 28.903,17.521 C29.466,17.521 29.926,17.989 29.926,18.564 L29.926,25.000 C29.926,26.082 29.063,26.963 28.003,26.963 ZM23.120,19.468 C22.965,19.559 22.789,19.607 22.609,19.607 C22.430,19.607 22.254,19.559 22.099,19.468 C17.138,16.547 15.293,13.560 15.293,8.451 L15.293,4.773 C15.293,4.356 15.536,3.980 15.911,3.813 L22.204,1.056 C22.465,0.943 22.753,0.945 23.012,1.055 L29.307,3.813 C29.682,3.980 29.926,4.356 29.926,4.773 L29.926,8.451 C29.926,13.567 28.081,16.554 23.120,19.468 ZM27.879,5.461 L22.609,3.150 L17.339,5.461 L17.339,8.451 C17.339,12.663 18.671,14.918 22.609,17.353 C26.548,14.922 27.879,12.668 27.879,8.451 L27.879,5.461 ZM21.710,13.171 L21.673,13.171 C21.340,13.155 21.039,12.980 20.859,12.705 L19.061,9.948 C18.750,9.471 18.877,8.823 19.345,8.503 C19.567,8.351 19.833,8.295 20.101,8.346 C20.374,8.399 20.609,8.558 20.764,8.793 L21.787,10.359 L24.507,6.879 C24.680,6.662 24.925,6.526 25.197,6.496 C25.465,6.459 25.734,6.543 25.948,6.716 C26.386,7.075 26.457,7.731 26.108,8.181 L22.512,12.778 C22.316,13.028 22.024,13.171 21.710,13.171 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">عودت وجه و گارانتی</h5>
                                                    <p>100% عودت وجه و گارانتی</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">صندلی ها </a>
                                    <div class="drop-menu mega-menu">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:void(0);">شوفا </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">صندلی ها </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">تختخواب </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">ناهارخوری </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">  هال </a>
                                                <ul class="super-sub-menu">
                                                    <li><a href="product_category.html">تختخواب های سکو </a></li>
                                                    <li><a href="product_category.html">تخت های ذخیره سازی </a></li>
                                                    <li><a href="product_category.html">تختخواب های مدرن </a></li>
                                                    <li><a href="product_category.html">تشک ترس </a></li>
                                                    <li><a href="product_category.html">تخت تختخواب سفری </a></li>
                                                    <li><a href="product_category.html">تختخوابهای منظم </a></li>
                                                    <li><a href="product_category.html">تختخواب های سورتمه ای</a></li>
                                                    <li><a href="product_category.html">بوفه ها </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="mega-menu-info d-lg-flex">
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="24px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M32.929,20.763 L29.818,20.763 C29.329,22.624 27.659,23.999 25.678,23.999 C23.698,23.999 22.028,22.624 21.539,20.763 L15.176,20.763 C14.686,22.624 13.016,23.999 11.036,23.999 C9.055,23.999 7.385,22.624 6.896,20.763 L4.107,20.763 C3.515,20.763 3.036,20.274 3.036,19.672 C3.036,19.069 3.515,18.581 4.107,18.581 L6.877,18.581 C7.342,16.683 9.029,15.272 11.036,15.272 C13.042,15.272 14.730,16.683 15.194,18.581 L21.520,18.581 C21.985,16.683 23.672,15.272 25.678,15.272 C27.685,15.272 29.373,16.683 29.837,18.581 L31.857,18.581 L31.857,12.955 L30.297,10.908 L21.964,10.908 C21.372,10.908 20.893,10.420 20.893,9.817 L20.893,2.181 L4.107,2.181 C3.515,2.181 3.036,1.693 3.036,1.090 C3.036,0.488 3.515,-0.001 4.107,-0.001 L21.964,-0.001 C22.556,-0.001 23.036,0.488 23.036,1.090 L23.036,2.181 L27.607,2.181 C28.012,2.181 28.382,2.413 28.565,2.782 L31.779,9.291 L31.777,9.292 L33.775,11.912 C33.921,12.103 34.000,12.339 34.000,12.581 L34.000,19.672 C34.000,20.274 33.520,20.763 32.929,20.763 ZM11.036,17.454 C9.854,17.454 8.893,18.432 8.893,19.636 C8.893,20.839 9.854,21.817 11.036,21.817 C12.217,21.817 13.179,20.839 13.179,19.636 C13.179,18.432 12.217,17.454 11.036,17.454 ZM25.678,17.454 C24.497,17.454 23.536,18.432 23.536,19.636 C23.536,20.839 24.497,21.817 25.678,21.817 C26.860,21.817 27.821,20.839 27.821,19.636 C27.821,18.432 26.860,17.454 25.678,17.454 ZM26.946,4.363 L23.036,4.363 L23.036,8.727 L29.101,8.727 L26.946,4.363 ZM13.036,5.563 C13.036,6.166 12.556,6.654 11.964,6.654 L2.821,6.654 C2.230,6.654 1.750,6.166 1.750,5.563 C1.750,4.960 2.230,4.472 2.821,4.472 L11.964,4.472 C12.556,4.472 13.036,4.960 13.036,5.563 ZM11.286,9.854 C11.286,10.456 10.806,10.944 10.214,10.944 L1.071,10.944 C0.480,10.944 -0.000,10.456 -0.000,9.854 C-0.000,9.252 0.480,8.763 1.071,8.763 L10.214,8.763 C10.806,8.763 11.286,9.252 11.286,9.854 ZM2.821,13.054 L7.750,13.054 C8.342,13.054 8.821,13.542 8.821,14.145 C8.821,14.748 8.342,15.236 7.750,15.236 L2.821,15.236 C2.230,15.236 1.750,14.748 1.750,14.145 C1.750,13.542 2.230,13.054 2.821,13.054 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">حمل و نقل رایگان</h5>
                                                    <p>سفارشات بالای 200 هزارت تومان حمل و نقل رایگان دارند</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="27px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M21.856,21.026 C21.816,23.307 20.022,25.196 17.857,25.236 C16.628,25.257 15.411,25.248 14.061,25.235 C13.807,25.230 13.680,25.306 13.553,25.554 C13.096,26.447 12.273,26.963 11.388,26.963 C11.173,26.963 10.954,26.933 10.735,26.870 C9.605,26.543 8.839,25.502 8.831,24.278 C8.825,23.070 9.612,21.966 10.706,21.652 C11.820,21.335 12.908,21.825 13.551,22.928 C13.646,23.092 13.861,23.251 13.992,23.255 C15.134,23.284 16.374,23.289 17.779,23.265 C18.747,23.251 19.517,22.669 19.784,21.769 L19.781,21.769 C19.691,21.777 19.613,21.785 19.536,21.790 C18.831,21.826 18.186,21.602 17.695,21.149 C17.164,20.661 16.860,19.950 16.839,19.149 C16.809,18.022 16.809,16.840 16.839,15.637 C16.873,14.166 17.864,13.074 19.246,12.980 C19.724,12.948 20.237,12.943 20.861,12.966 C21.523,12.988 21.860,13.359 21.862,14.067 L21.869,15.613 C21.879,17.387 21.888,19.222 21.856,21.026 ZM11.376,23.526 C11.375,23.526 11.375,23.526 11.374,23.526 C11.023,23.527 10.718,23.856 10.708,24.245 C10.703,24.453 10.782,24.653 10.924,24.796 C11.046,24.918 11.205,24.984 11.370,24.984 C11.376,24.984 11.383,24.984 11.390,24.984 C11.752,24.972 12.041,24.642 12.034,24.248 C12.028,23.856 11.727,23.526 11.376,23.526 ZM20.016,16.054 C20.015,15.681 20.013,15.304 20.013,14.922 C19.951,14.925 19.870,14.921 19.801,14.919 C19.744,14.918 19.690,14.916 19.638,14.916 C19.498,14.916 19.375,14.927 19.279,14.975 C19.025,15.106 18.737,15.369 18.728,15.539 C18.666,16.645 18.659,17.823 18.706,19.139 C18.713,19.326 18.779,19.482 18.899,19.593 C19.021,19.705 19.199,19.767 19.390,19.755 C19.762,19.739 19.997,19.492 20.003,19.112 C20.023,18.104 20.020,17.108 20.016,16.054 ZM20.972,11.555 C20.921,11.563 20.862,11.569 20.800,11.569 C20.468,11.569 20.029,11.398 19.873,10.558 C19.176,6.804 16.520,3.827 13.263,3.149 C9.478,2.362 6.049,3.889 4.100,7.234 C3.736,7.858 3.500,8.592 3.272,9.299 C3.144,9.693 3.014,10.100 2.861,10.488 C2.729,10.822 2.542,11.225 2.258,11.382 C1.972,11.541 1.669,11.528 1.424,11.356 C1.119,11.140 0.968,10.710 1.040,10.258 C1.434,7.786 2.524,5.650 4.281,3.907 C6.206,1.997 8.723,0.945 11.369,0.945 C11.372,0.945 11.374,0.945 11.376,0.945 C16.478,0.949 20.813,4.851 21.683,10.222 C21.803,10.961 21.538,11.460 20.972,11.555 ZM1.928,12.968 C2.456,12.957 3.004,12.944 3.541,12.982 C4.865,13.078 5.855,14.166 5.896,15.571 C5.931,16.769 5.929,17.988 5.891,19.197 C5.845,20.689 4.773,21.798 3.388,21.798 C3.368,21.798 3.349,21.798 3.329,21.798 C1.960,21.766 0.905,20.619 0.876,19.130 C0.866,18.561 0.868,17.991 0.871,17.423 C0.871,17.149 0.872,16.875 0.872,16.600 L0.871,15.983 C0.870,15.364 0.869,14.747 0.873,14.128 C0.880,13.343 1.205,12.986 1.928,12.968 ZM2.729,19.027 C2.734,19.451 3.004,19.762 3.371,19.766 L3.372,19.766 C3.375,19.766 3.378,19.766 3.380,19.766 C3.753,19.766 4.048,19.432 4.055,19.002 C4.072,17.918 4.071,16.799 4.054,15.675 C4.048,15.263 3.829,15.006 3.437,14.953 C3.271,14.931 3.103,14.935 2.905,14.941 C2.846,14.943 2.786,14.945 2.724,14.946 L2.722,16.080 C2.720,17.080 2.719,18.054 2.729,19.027 ZM7.821,5.471 C8.936,4.890 10.157,4.589 11.440,4.624 C11.454,4.624 11.468,4.624 11.483,4.624 C12.693,4.624 13.859,4.916 14.945,5.493 C15.541,5.809 15.754,6.364 15.489,6.909 C15.374,7.143 15.199,7.304 14.981,7.376 C14.894,7.405 14.802,7.419 14.707,7.419 C14.522,7.419 14.322,7.366 14.119,7.261 C12.316,6.337 10.466,6.330 8.619,7.237 C8.310,7.389 8.015,7.422 7.772,7.334 C7.555,7.255 7.383,7.083 7.273,6.837 C7.032,6.297 7.242,5.773 7.821,5.471 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">پشتیبانی آنلاین 247</h5>
                                                    <p>مشاوره و تماس رایگان با عشق 247</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mega-menu-infobox text-center">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="27px"><path fill-rule="evenodd" fill="rgb(96, 186, 190)" d="M5.529,19.607 C4.965,19.607 4.505,19.140 4.505,18.564 C4.505,17.989 4.965,17.521 5.529,17.521 L9.125,17.521 C9.688,17.521 10.147,17.989 10.147,18.564 C10.147,19.140 9.688,19.607 9.125,19.607 L5.529,19.607 ZM28.003,26.963 L2.832,26.963 C1.772,26.963 0.909,26.082 0.909,25.000 L0.909,8.451 C0.909,7.369 1.772,6.488 2.832,6.488 L12.720,6.488 C13.284,6.488 13.743,6.956 13.743,7.531 C13.743,8.107 13.284,8.574 12.720,8.574 L2.955,8.574 L2.955,12.005 L12.720,12.005 C13.284,12.005 13.743,12.473 13.743,13.047 C13.743,13.623 13.284,14.091 12.720,14.091 L2.955,14.091 L2.955,24.876 L27.879,24.876 L27.879,18.564 C27.879,17.989 28.339,17.521 28.903,17.521 C29.466,17.521 29.926,17.989 29.926,18.564 L29.926,25.000 C29.926,26.082 29.063,26.963 28.003,26.963 ZM23.120,19.468 C22.965,19.559 22.789,19.607 22.609,19.607 C22.430,19.607 22.254,19.559 22.099,19.468 C17.138,16.547 15.293,13.560 15.293,8.451 L15.293,4.773 C15.293,4.356 15.536,3.980 15.911,3.813 L22.204,1.056 C22.465,0.943 22.753,0.945 23.012,1.055 L29.307,3.813 C29.682,3.980 29.926,4.356 29.926,4.773 L29.926,8.451 C29.926,13.567 28.081,16.554 23.120,19.468 ZM27.879,5.461 L22.609,3.150 L17.339,5.461 L17.339,8.451 C17.339,12.663 18.671,14.918 22.609,17.353 C26.548,14.922 27.879,12.668 27.879,8.451 L27.879,5.461 ZM21.710,13.171 L21.673,13.171 C21.340,13.155 21.039,12.980 20.859,12.705 L19.061,9.948 C18.750,9.471 18.877,8.823 19.345,8.503 C19.567,8.351 19.833,8.295 20.101,8.346 C20.374,8.399 20.609,8.558 20.764,8.793 L21.787,10.359 L24.507,6.879 C24.680,6.662 24.925,6.526 25.197,6.496 C25.465,6.459 25.734,6.543 25.948,6.716 C26.386,7.075 26.457,7.731 26.108,8.181 L22.512,12.778 C22.316,13.028 22.024,13.171 21.710,13.171 Z" /></svg>
                                                    <h5 class="e-mm-ib-ttl">عودت وجه و گارانتی</h5>
                                                    <p>100% عودت وجه و گارانتی</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="position-relative">
                                    <a href="javascript:void(0);">صفحات </a>
                                    <div class="drop-menu normal-menu">
                                        <ul class="sub-menu">
                                            <li><a href="product_category_sidebar.html">فروشگاه </a> </li>
                                            <li><a href="cart.html">سبد خرید </a> </li>
                                            <li><a href="product_category.html">محصولات </a> </li>
                                            <li><a href="contact.html">تماس با ما </a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="position-relative">
                                    <a href="javascript:void(0);">وبلاگ </a>
                                    <div class="drop-menu normal-menu">
                                        <ul class="sub-menu">
                                            <li><a href="blog_category.html">دسته بندی وبلاگ </a> </li>
                                            <li><a href="blog_single.html">تک نوشته </a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="contact.html">تماس با ما </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="hs-right">
                        <div class="hs-search-cart ">
                            <ul class="hs-search-cart-list">
                                <li>
                                    <a href="javascript:void(0);" class="hs-search-btn c-search-btn">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px"><path fill-rule="evenodd" fill="rgb(125, 143, 179)" d="M16.337,15.218 C15.846,14.710 15.347,14.210 14.848,13.711 L12.326,11.190 C14.647,7.813 13.433,3.788 10.926,1.947 C8.249,-0.020 4.631,0.233 2.322,2.546 C0.010,4.862 -0.267,8.510 1.664,11.217 C2.621,12.558 4.223,13.526 5.949,13.805 C7.163,14.001 8.993,13.951 10.900,12.633 L10.981,12.724 C11.161,12.925 11.344,13.131 11.537,13.326 C12.605,14.410 13.674,15.490 14.755,16.559 C14.969,16.769 15.226,16.921 15.462,16.974 C15.534,16.991 15.604,16.999 15.674,16.999 C16.017,16.999 16.324,16.804 16.522,16.452 C16.757,16.034 16.690,15.583 16.337,15.218 ZM10.177,4.051 C11.029,4.910 11.496,6.055 11.495,7.273 C11.493,8.489 11.019,9.630 10.162,10.488 C9.308,11.344 8.173,11.815 6.967,11.815 C6.964,11.815 6.961,11.815 6.958,11.815 C5.751,11.813 4.610,11.331 3.748,10.457 C2.891,9.590 2.425,8.452 2.436,7.255 C2.457,4.709 4.449,2.717 6.972,2.717 C6.974,2.717 6.977,2.717 6.979,2.717 C8.189,2.718 9.325,3.192 10.177,4.051 Z" /></svg>
                                    </a>
                                </li>
                                <li class="hs-cart-box cmn-cart-tgl cart-style2">
                                    <a href="javascript:void(0);">
                                        <div class="hs-cartbox-inner">
                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="16px"><path fill-rule="evenodd" fill="rgb(9, 172, 181)" d="M16.949,4.172 L14.077,11.020 C13.972,11.258 13.752,11.410 13.500,11.410 L5.608,11.410 C5.325,11.410 5.073,11.215 5.000,10.932 L2.432,1.303 L0.629,1.303 C0.283,1.303 -0.000,1.009 -0.000,0.650 C-0.000,0.291 0.283,-0.002 0.629,-0.002 L2.903,-0.002 C3.186,-0.002 3.438,0.193 3.511,0.476 L6.079,10.106 L13.081,10.106 L15.408,4.562 L7.652,4.562 C7.306,4.562 7.023,4.270 7.023,3.910 C7.023,3.552 7.306,3.258 7.652,3.258 L16.372,3.258 C16.582,3.258 16.781,3.368 16.896,3.552 C17.012,3.737 17.033,3.965 16.949,4.172 ZM5.010,13.041 C5.796,13.041 6.436,13.704 6.436,14.520 C6.436,15.334 5.796,15.998 5.010,15.998 C4.224,15.998 3.585,15.334 3.585,14.520 C3.585,13.704 4.224,13.041 5.010,13.041 ZM13.825,13.041 C14.612,12.987 15.293,13.606 15.345,14.410 C15.366,14.813 15.251,15.193 14.999,15.487 C14.748,15.791 14.402,15.965 14.025,15.998 C13.993,15.998 13.951,15.998 13.920,15.998 C13.175,15.998 12.557,15.389 12.505,14.618 C12.452,13.813 13.039,13.095 13.825,13.041 Z" /></svg>
                                        </div>
                                        <span class="hs-cart-value">سبد خرید (05)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-btn c-toggle-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bg-overlay sidebar-overlay c-toggle-btn"></div>
        </div>
        
        @RenderBody()

        <!-- Footer start -->
        <footer class="e-footer-wrap e-footer-fur">
            <div class="container">
                <div class="e-footer-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="e-footer-inner">
                                <a href="index2.html"><img src="/images/index2/logo.png" alt="logo" class="img-fluid"></a>
                                <p class="efoot-about">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
                                <ul class="c-social-list e-foot-sl justify-content-start">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="14px"><path fill-rule="evenodd" fill="rgb(85, 85, 85)" d="M6.736,0.000 L5.057,-0.003 C3.171,-0.003 1.952,1.350 1.952,3.443 L1.952,5.032 L0.264,5.032 C0.118,5.032 0.000,5.159 0.000,5.318 L0.000,7.620 C0.000,7.777 0.118,7.904 0.264,7.904 L1.952,7.904 L1.952,13.713 C1.952,13.870 2.070,13.998 2.216,13.998 L4.418,13.998 C4.564,13.998 4.682,13.869 4.682,13.713 L4.682,7.904 L6.656,7.904 C6.802,7.904 6.920,7.777 6.920,7.620 L6.921,5.318 C6.921,5.241 6.893,5.169 6.844,5.116 C6.794,5.062 6.727,5.032 6.657,5.032 L4.683,5.032 L4.683,3.684 C4.683,3.038 4.825,2.709 5.605,2.709 L6.736,2.708 C6.882,2.708 7.000,2.580 7.000,2.423 L7.000,0.286 C7.000,0.129 6.882,0.001 6.736,0.000 Z" /></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="12px"><path fill-rule="evenodd" fill="rgb(85, 85, 85)" d="M14.586,0.219 C13.991,0.567 13.332,0.819 12.631,0.956 C12.070,0.365 11.271,-0.003 10.385,-0.003 C8.686,-0.003 7.308,1.356 7.308,3.027 C7.308,3.264 7.335,3.496 7.387,3.717 C4.830,3.591 2.563,2.385 1.045,0.552 C0.780,0.998 0.629,1.519 0.629,2.075 C0.629,3.126 1.172,4.053 1.997,4.596 C1.493,4.580 1.019,4.444 0.604,4.216 L0.604,4.253 C0.604,5.722 1.665,6.946 3.071,7.225 C2.814,7.294 2.542,7.332 2.261,7.332 C2.062,7.332 1.870,7.313 1.681,7.277 C2.073,8.480 3.209,9.357 4.555,9.381 C3.503,10.195 2.175,10.677 0.734,10.677 C0.485,10.677 0.241,10.663 -0.000,10.637 C1.362,11.496 2.979,11.998 4.717,11.998 C10.377,11.998 13.472,7.380 13.472,3.377 L13.462,2.984 C14.065,2.558 14.588,2.024 15.000,1.417 C14.448,1.658 13.856,1.822 13.233,1.895 C13.869,1.520 14.355,0.924 14.586,0.219 Z" /></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="9px"><path fill-rule="evenodd" fill="rgb(85, 85, 85)" d="M13.550,1.271 L9.790,1.271 L9.790,0.371 L13.550,0.371 L13.550,1.271 L13.550,1.271 ZM7.287,4.963 C7.530,5.325 7.651,5.765 7.651,6.281 C7.651,6.815 7.514,7.294 7.236,7.718 C7.060,7.998 6.840,8.234 6.576,8.424 C6.279,8.645 5.927,8.795 5.523,8.876 C5.117,8.957 4.677,8.997 4.204,8.997 L-0.000,8.997 L-0.000,-0.003 L4.509,-0.003 C5.645,0.015 6.451,0.333 6.926,0.956 C7.212,1.339 7.353,1.797 7.353,2.330 C7.353,2.881 7.210,3.321 6.922,3.656 C6.762,3.842 6.525,4.014 6.211,4.167 C6.686,4.336 7.047,4.600 7.287,4.963 ZM2.153,3.546 L4.129,3.546 C4.534,3.546 4.863,3.472 5.115,3.324 C5.368,3.175 5.494,2.911 5.494,2.531 C5.494,2.113 5.327,1.835 4.993,1.702 C4.705,1.609 4.337,1.561 3.891,1.561 L2.153,1.561 L2.153,3.546 ZM5.684,6.153 C5.684,5.685 5.486,5.362 5.090,5.190 C4.869,5.090 4.557,5.040 4.157,5.037 L2.153,5.037 L2.153,7.435 L4.126,7.435 C4.531,7.435 4.845,7.384 5.071,7.277 C5.479,7.080 5.684,6.707 5.684,6.153 ZM14.945,4.689 C14.990,4.983 15.010,5.410 15.002,5.969 L10.133,5.969 C10.160,6.618 10.392,7.070 10.832,7.329 C11.098,7.491 11.419,7.571 11.796,7.571 C12.193,7.571 12.517,7.475 12.766,7.275 C12.902,7.168 13.022,7.020 13.125,6.833 L14.910,6.833 C14.863,7.216 14.648,7.603 14.262,7.998 C13.664,8.625 12.825,8.940 11.747,8.940 C10.857,8.940 10.072,8.674 9.391,8.146 C8.713,7.615 8.372,6.756 8.372,5.563 C8.372,4.444 8.678,3.588 9.292,2.994 C9.908,2.396 10.704,2.099 11.684,2.099 C12.266,2.099 12.790,2.199 13.257,2.400 C13.723,2.603 14.108,2.920 14.411,3.355 C14.686,3.739 14.862,4.183 14.945,4.689 ZM13.188,4.857 C13.155,4.409 13.000,4.069 12.721,3.837 C12.444,3.606 12.097,3.489 11.684,3.489 C11.235,3.489 10.888,3.613 10.641,3.858 C10.393,4.103 10.238,4.435 10.175,4.857 L13.188,4.857 L13.188,4.857 Z" /></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px"><path fill-rule="evenodd" fill="rgb(85, 85, 85)" d="M7.500,-0.002 C3.356,-0.002 -0.000,3.354 -0.000,7.499 C-0.000,11.641 3.356,14.998 7.500,14.998 C11.644,14.998 15.000,11.641 15.000,7.499 C15.000,3.354 11.644,-0.002 7.500,-0.002 ZM12.097,3.887 C12.829,4.816 13.284,5.967 13.343,7.221 C12.495,7.044 11.692,6.956 10.954,6.956 L10.954,6.956 L10.944,6.956 C10.344,6.956 9.782,7.012 9.247,7.103 C9.123,6.788 8.992,6.484 8.861,6.194 C10.038,5.676 11.177,4.935 12.097,3.887 ZM7.500,1.647 C8.879,1.647 10.148,2.130 11.147,2.934 C10.384,3.851 9.372,4.517 8.276,4.985 C7.507,3.499 6.765,2.436 6.256,1.785 C6.658,1.698 7.074,1.647 7.500,1.647 ZM4.916,2.256 C5.319,2.738 6.136,3.792 7.003,5.440 C5.237,5.967 3.458,6.091 2.381,6.091 C2.351,6.091 2.322,6.091 2.292,6.090 L2.291,6.090 C2.109,6.090 1.954,6.086 1.823,6.078 C2.242,4.400 3.392,3.008 4.916,2.256 ZM1.648,7.499 C1.648,7.474 1.649,7.441 1.654,7.412 C1.817,7.423 2.034,7.425 2.291,7.425 L2.292,7.425 C3.469,7.418 5.522,7.321 7.602,6.662 C7.714,6.910 7.827,7.168 7.939,7.438 C6.549,7.904 5.455,8.641 4.644,9.376 C3.865,10.090 3.339,10.794 3.032,11.262 C2.169,10.240 1.649,8.933 1.648,7.499 ZM7.500,13.354 C6.197,13.354 4.997,12.919 4.026,12.199 C4.232,11.859 4.673,11.202 5.382,10.528 C6.108,9.828 7.111,9.109 8.421,8.683 C8.865,9.930 9.271,11.362 9.579,12.964 C8.932,13.212 8.231,13.354 7.500,13.354 ZM10.811,12.314 C10.516,10.863 10.139,9.547 9.729,8.378 C10.110,8.322 10.514,8.291 10.930,8.291 L10.945,8.291 L10.945,8.291 L10.954,8.291 C11.646,8.291 12.419,8.378 13.244,8.568 C12.961,10.118 12.059,11.451 10.811,12.314 Z" /></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="15px"><path fill-rule="evenodd" fill="rgb(85, 85, 85)" d="M9.573,1.538 C8.610,0.544 7.277,-0.002 5.819,-0.002 C3.593,-0.002 2.224,0.977 1.467,1.799 C0.535,2.812 -0.000,4.157 -0.000,5.488 C-0.000,7.160 0.652,8.445 1.743,8.922 C1.816,8.954 1.890,8.971 1.962,8.971 C2.192,8.971 2.375,8.809 2.438,8.549 C2.475,8.401 2.560,8.033 2.597,7.874 C2.677,7.559 2.612,7.407 2.439,7.189 C2.124,6.788 1.977,6.313 1.977,5.697 C1.977,3.864 3.248,1.917 5.604,1.917 C7.473,1.917 8.634,3.057 8.634,4.893 C8.634,6.052 8.402,7.125 7.979,7.915 C7.686,8.463 7.170,9.117 6.378,9.117 C6.035,9.117 5.728,8.967 5.534,8.703 C5.350,8.454 5.290,8.132 5.364,7.798 C5.447,7.419 5.561,7.024 5.671,6.642 C5.871,5.945 6.061,5.286 6.061,4.761 C6.061,3.862 5.546,3.257 4.780,3.257 C3.806,3.257 3.044,4.319 3.044,5.674 C3.044,6.338 3.208,6.835 3.283,7.026 C3.160,7.585 2.431,10.901 2.293,11.526 C2.213,11.891 1.731,14.775 2.528,15.004 C3.424,15.264 4.224,12.455 4.306,12.137 C4.372,11.879 4.603,10.904 4.745,10.304 C5.177,10.751 5.873,11.053 6.551,11.053 C7.827,11.053 8.976,10.436 9.784,9.316 C10.568,8.230 11.000,6.716 11.000,5.053 C11.000,3.754 10.480,2.472 9.573,1.538 Z" /></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="e-footer-inner">
                                <h2 class="e-fh-style2">دسترسی سریع </h2>
                                <ul class="efoot-list">
                                    <li><a href="product_category.html">محصولات ما  </a></li>
                                    <li><a href="contact.html">موقعیت های فروشگاه </a></li>
                                    <li><a href="blog_single.html">آخرین اخبار </a></li>
                                    <li><a href="product_category_sidebar.html">فروشگاه </a></li>
                                    <li><a href="contact.html">تماس با ما </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="e-footer-inner">
                                <h2 class="e-fh-style2">لینک های کمکی </h2>
                                <ul class="efoot-list">
                                    <li><a href="index.html">صفحه اصلی </a></li>
                                    <li><a href="privacy_policy.html">حریم خصوصی </a></li>
                                    <li><a href="terms.html">شرایط و ضوابط </a></li>
                                    <li><a href="contact.html">تماس با ما </a></li>
                                    <li><a href="blog_category.html">دسته وبلاگ </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="e-footer-inner">
                                <h2 class="e-fh-style2">داستان ما </h2>
                                <ul class="efoot-list">
                                    <li><a href="product_category_sidebar.html">کاناپه </a></li>
                                    <li><a href="product_category_sidebar.html">اتاق خواب </a></li>
                                    <li><a href="product_category_sidebar.html">صندلی </a></li>
                                    <li><a href="product_category_sidebar.html">جدول </a></li>
                                    <li><a href="product_category_sidebar.html">  هال </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="e-foot-paymentbar">
                            <ul class="e-foot-pb-list justify-content-center">
                                <li><a href="shipping_cart.html"><img src="/images/index2/fb-pay01.png" alt="payment" class="img-fluid"></a></li>
                                <li><a href="shipping_cart.html"><img src="/images/index2/fb-pay02.png" alt="payment" class="img-fluid"></a></li>
                                <li><a href="shipping_cart.html"><img src="/images/index2/fb-pay03.png" alt="payment" class="img-fluid"></a></li>
                                <li><a href="shipping_cart.html"><img src="/images/index2/fb-pay04.png" alt="payment" class="img-fluid"></a></li>
                                <li><a href="shipping_cart.html"><img src="/images/index2/fb-pay05.png" alt="payment" class="img-fluid"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- GO To Top -->
            <a href="javascript:void(0);" id="scroll" class="e-scroll-pr">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="24px"><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M6.638,0.361 C6.638,0.361 6.637,0.361 6.637,0.362 L0.357,6.757 C-0.114,7.237 -0.112,8.012 0.361,8.489 C0.834,8.966 1.599,8.964 2.069,8.485 L6.285,4.191 L6.285,22.770 C6.285,23.446 6.826,23.994 7.493,23.994 C8.160,23.994 8.701,23.446 8.701,22.770 L8.701,4.191 L12.917,8.485 C13.387,8.964 14.152,8.966 14.625,8.489 C15.098,8.012 15.099,7.237 14.629,6.757 L8.349,0.362 C8.349,0.361 8.348,0.361 8.348,0.361 C7.876,-0.119 7.109,-0.117 6.638,0.361 L6.638,0.361 Z" /></svg>
            </a>
        </footer>

       

    </div>
    <!-- main-wrapper End -->
    <!-- sidebar cart start -->
    <div class="sb-cartbox">
        <div class="sb-cartbox-inner">
            <div class="sb-cartbox-header text-center">
                <h4 class="sb-cb-ttl">سبد خرید  ( 5 )</h4>
                <p class="sb-cb-subttl">5 کالای خود را در سبد خرید خود داشته باشید</p>
                <a href="javascript:void(0);" class="sb-cb-close close-box">بستن </a>
            </div>
            <div class="sb-cartbox-body">
                <ul class="sb-cartbox-list">
                    <li>
                        <div class="sc-productwrap">
                            <a href="product_details.html" class="sc-product-thumb">
                                <img src="/images/index2/shopcart01.jpg" alt="محصول" class="img-fluid">
                            </a>
                            <div class="sc-product-details">
                                <a href="product_details.html" class="sc-product-ttl">چراغ سقفی</a>
                                <p class="sc-product-sz">اندازه: متوسط </p>
                            </div>
                        </div>
                        <div class="sc-quantity">
                            1X <span class="sc-price"> 120000 تومان</span>
                        </div>
                        <a href="javascript:void(0);" class="sc-produc-remove">
                            <img src="/images/index1/svg/cut.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <div class="sc-productwrap">
                            <a href="product_details.html" class="sc-product-thumb">
                                <img src="/images/index2/shopcart02.jpg" alt="محصول" class="img-fluid">
                            </a>
                            <div class="sc-product-details">
                                <a href="product_details.html" class="sc-product-ttl">صندلی چوبی آبی</a>
                                <p class="sc-product-sz">اندازه: متوسط </p>
                            </div>
                        </div>
                        <div class="sc-quantity">
                            1X <span class="sc-price"> 860000 تومان</span>
                        </div>
                        <a href="javascript:void(0);" class="sc-produc-remove">
                            <img src="/images/index1/svg/cut.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <div class="sc-productwrap">
                            <a href="product_details.html" class="sc-product-thumb">
                                <img src="/images/index2/shopcart03.jpg" alt="محصول" class="img-fluid">
                            </a>
                            <div class="sc-product-details">
                                <a href="product_details.html" class="sc-product-ttl">مطالعه لامپ میز</a>
                                <p class="sc-product-sz">اندازه: متوسط </p>
                            </div>
                        </div>
                        <div class="sc-quantity">
                            1X <span class="sc-price"> 190000 تومان</span>
                        </div>
                        <a href="javascript:void(0);" class="sc-produc-remove">
                            <img src="/images/index1/svg/cut.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <div class="sc-productwrap">
                            <a href="product_details.html" class="sc-product-thumb">
                                <img src="/images/index2/shopcart04.jpg" alt="محصول" class="img-fluid">
                            </a>
                            <div class="sc-product-details">
                                <a href="product_details.html" class="sc-product-ttl">صندلی مخصوص دفتر </a>
                                <p class="sc-product-sz">اندازه: متوسط </p>
                            </div>
                        </div>
                        <div class="sc-quantity">
                            1X <span class="sc-price"> 29000 تومان</span>
                        </div>
                        <a href="javascript:void(0);" class="sc-produc-remove">
                            <img src="/images/index1/svg/cut.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <div class="sc-productwrap">
                            <a href="product_details.html" class="sc-product-thumb">
                                <img src="/images/index2/shopcart05.jpg" alt="محصول" class="img-fluid">
                            </a>
                            <div class="sc-product-details">
                                <a href="product_details.html" class="sc-product-ttl">صندلی صورتی</a>
                                <p class="sc-product-sz">اندازه: متوسط </p>
                            </div>
                        </div>
                        <div class="sc-quantity">
                            1X <span class="sc-price"> 320000 تومان</span>
                        </div>
                        <a href="javascript:void(0);" class="sc-produc-remove">
                            <img src="/images/index1/svg/cut.svg" alt="icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sb-cartbox-footer">
                <div class="sb-cartbox-total">
                    <strong>مجموع سبد:</strong>
                    <span class="sb-cartbox-amount">859000 تومان</span>
                </div>
                <div class="sb-cartbox-btn">
                    <a href="cart.html" class="e-btn-s2">سبد خرید </a>
                    <a href="shipping_cart.html" class="e-btn-s2">پرداخت </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-overlay cb-overlay cmn-cart-tgl"></div>




    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/SmoothScroll.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>